{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% load static %}

{% block content %}
    <img class="bookcover" src="{% static 'images/vinotinto.jpg' %}" alt="vinotinto">
    <h1>Mano tengo fe!</h1>
    <!-- {% if user.is_authenticated %}
        <p>Epale {{ user.email }} :)</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <p>No estas registrado</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}     -->

{% endblock content %}